{% extends 'base.html' %}

{% block titile %}
机构列表页 | mtianyan慕课小站
{% endblock %}

{% load staticfiles %}
<!--crumbs start-->
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li>课程机构</li>
            </ul>
        </div>
    </section>
{% endblock %}


{% block content %}
<section>
	<div class="wp butler_list_box list">
	<div class='left'>
		<div class="listoptions">
			<ul>
				<li>
					<h2>机构类别</h2>
					<div class="cont">
                        <a href="?city={{ city_id }}&keywords={{ search_keywords }}"><span class="{% ifequal category "" %}active2{% endifequal %}">全部</span></a>

                            <a href="?ct=pxjg&city={{ city.id }}&keywords={{ search_keywords }}"><span class="{% ifequal category "pxjg" %}active2{% endifequal %}">培训机构</span></a>

                            <a href="?ct=gx&city={{ city_id }}&keywords={{ search_keywords }}"><span class="{% ifequal category "gx" %}active2{% endifequal %}">高校</span></a>

                            <a href="?ct=gr&city={{ city_id }}&keywords={{ search_keywords }}"><span class="{% ifequal category "gr" %}active2{% endifequal %}">个人</span></a>

					</div>
				</li>
				<li>
					<h2>所在地区</h2>
{#					<div class="more">更多</div>#}
					<div class="cont">
                        <a href="?ct={{ category }}&keywords={{ search_keywords }}"><span class="{% ifequal city_id "" %}active2{% endifequal %}">全部</span></a>
                        {% for city in all_city %}
                            <a href="?ct={{ category }}&city={{ city.id }}&keywords={{ search_keywords }}"><span class="{% ifequal city.id|stringformat:"i" city_id %}active2{% endifequal %}">{{ city.name }}</span></a>
                        {% endfor %}
					</div>
				</li>
			</ul>
		</div>
		<div class="all">共<span class="key">{{ org_nums }}</span>家</div>
		<div class="butler_list company list">
		<div class="layout">
			<div class="head">
				<ul class="tab_header">
					<li class="{% ifequal sort "" %}active {% endifequal %}"><a href="?ct={{ category }}&city={{ city_id }}&keywords={{ search_keywords }}">全部</a> </li>
					<li class="{% ifequal sort "students" %}active {% endifequal %}"><a href="?sort=students&ct={{ category }}&city={{ city_id }}&keywords={{ search_keywords }}">学习人数 &#8595;</a></li>
					<li class="{% ifequal sort "courses" %}active {% endifequal %}"><a href="?sort=courses&ct={{ category }}&city={{ city_id }}&keywords={{ search_keywords }}">课程数 &#8595;</a></li>
				</ul>
			</div>

            {% for course_org in all_orgs.object_list %}
  <dl class="des difdes">
                    <dt>
                        <a href="{% url 'org:org_home' course_org.id  %}">
                            <img width="200" height="120" class="scrollLoading" data-url="{{ MEDIA_URL }}{{ course_org.image }}"/>
                        </a>
                    </dt>
                    <dd>
                        <div class="clearfix">
                             <a href="{% url 'org:org_home' course_org.id %}">
                                 <h1>{{ course_org.name }}</h1>
                                 <div class="pic fl">

                                         <img src="{% static 'images/authentication.png' %}"/>

                                         <img src="{% static 'images/gold.png' %}"/>

                                 </div>
                             </a>
                        </div>
                        <ul class="cont">
                            <li class="first"><p class="pic9">课程数：<span>{{ course_org.course_nums }}</span></p><p class="c7">学习人数：<span>{{ course_org.students }}</span></p></li>
                            <li class="c8" style="padding-left:18px;">{{ course_org.address }}</li>
                            <li class="pic10" style="padding-left:18px;">经典课程：
                                {% for course in course_org.course_set.get_queryset  %}
                                     <a href="{% url 'course:course_detail' course.id %}">{{ course.name }}</a>
                                {% endfor %}

                            </li>
                        </ul>
                    </dd>
                    <div class="buy start_groupbuy jsShowPerfect2" data-id="22"><a href="{% url 'org:org_home' course_org.id %}"><br/>联系<br/>服务</a></div>
                </dl>
            {% endfor %}




		</div>
		 <div class="pageturn">
            <ul class="pagelist">
              {% if all_orgs.has_previous %}
 <li class="long"><a href="?{{ all_orgs.previous_page_number.querystring }}" >上一页</a></li>
             {% endif %}
          {% for page in all_orgs.pages %}
        {% if page %}
            {% ifequal page all_orgs.number %}
                   <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
            {% else %}
<li><a href="?{{ page.querystring }}">{{ page }}</a></li>
            {% endifequal %}
        {% else %}
            <li class="none"><a href="">...</a></li>
        {% endif %}
    {% endfor %}
    {% if all_orgs.has_next %}
    <li class="long"><a href="?{{ all_orgs.next_page_number.querystring }}">下一页</a></li>
    {% endif %}
            </ul>
         </div>
		</div>
	</div>
<div class="right companyright">
			<div class="head">我要学习</div>
			<form class="rightform" id="jsStayForm">
				<div>
                    <img src="{% static 'images/rightform1.png' %}"/>
                    <input type="text" name="name" id="companyName" placeholder="名字" maxlength="25" />
                </div>
				<div>
                    <img src="{% static 'images/rightform2.png' %}"/>
                    <input type="text" name="mobile" id="companyMobile" placeholder="联系电话"/>
                </div>
				<div>
                    <img src="{% static 'images/rightform3.png' %}"/>
                    <input type="text" name="course_name" id="companyAddress" placeholder="课程名" maxlength="50" />
                </div>
                <p class="error company-tips" id="jsCompanyTips"></p>
				<input class="btn" type="text" id="jsStayBtn" value="立即咨询 >" />
            {% csrf_token %}
            </form>
		</div>

		<div class="right companyrank layout">
			<div class="head">授课机构排名</div>

{% for curent_org in hot_orgs %}
 <dl class="des">
                    <dt class="num fl">{{ forloop.counter }}</dt>
                    <dd>
                        <a href="{% url 'org:org_home' curent_org.id %}"><h1>{{ curent_org.name }}</h1></a>
                        <p>{{ curent_org.address }}</p>
                    </dd>
                </dl>
{% endfor %}



		</div>
        </div>
</section>
{% endblock %}

{% block custom_js %}
<script>
    $(function(){
        $('#jsStayBtn').on('click', function(){
            $.ajax({
                cache: false,
                type: "POST",
                url:"{% url "org:add_ask" %}",
                data:$('#jsStayForm').serialize(),
                async: true,
                success: function(data) {
                    if(data.status == 'success'){
                        $('#jsStayForm')[0].reset();
                         $('#jsCompanyTips').html("");
                        alert("提交成功")
                    }else if(data.status == 'fail'){
                        $('#jsCompanyTips').html(data.msg)
                    }
                },
            });
        });
    })

</script>
{% endblock %}